.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border: 1px solid rgb(255, 255, 255);
  width: 100%;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.start {
  background-color: #00ccf2;
}
.end {
  background-color: #ff5d7d;
}
.wall {
  animation-name: wallAnimation;
  animation-duration: 0.2s;
  animation-delay: 0;
  animation-play-state: running;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  background-color: #545454;
}
@keyframes wallAnimation {
  0% {
    transform: scale(0.5);
    opacity: 0.75;
  }
  35% {
    transform: scale(0.85);
    opacity: 0.85;
  }
  70% {
    transform: scale(1.2);
    opacity: 0.95;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.pathfinding {
  animation-name: pathfindingAnimation;
  animation-duration: 1.2s;
  animation-delay: 0;
  animation-play-state: running;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  background-color: #6577ff;
}
@keyframes pathfindingAnimation {
  0% {
    transform: scale(0.25);
    background-color: #e0e4ff;
  }
  25% {
    transform: scale(0.45);
    background-color: #bbc3ff;
  }
  50% {
    transform: scale(0.65);
    background-color: #9aa5ff;
  }
  75% {
    transform: scale(0.85);
    background-color: #7786ff;
  }
  100% {
    transform: scale(1);
    background-color: #6577ff;
  }
}
.shortestPath {
  animation-name: shortestAnimation;
  animation-duration: 0.8s;
  animation-delay: 0;
  animation-play-state: running;
  animation-timing-function: ease-out;
  background-color: #656aff;
}
@keyframes shortestAnimation {
  0% {
    transform: scale(0.5);
    background-color: #2bb95a
  }
  25% {
    transform: scale(0.65);
    background-color: #33c044
  }
  50% {
    transform: scale(0.75);
    background-color: #96e048;
  }
  75% {
    transform: scale(0.85);
    background-color: #ccd43a
  }
  100% {
    transform: scale(1);
    background-color: #ffd700;
  }
}